.App {
  text-align: center;
}
.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    font-size: 22px;
    padding: 6px;
}

.question_icon{padding-top: 5px;}

.icon_100 {color: #c50505;
    margin-right: 10px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold; text-decoration: underline; text-decoration-style: double;}
.footer_text{text-align: center; padding: 12px; font-size: 18px; color: #d0ad01;}

.MuiSelect-icon {
    right: 0px !important;
    color: rgba(0, 0, 0, 0.54);
    position: absolute;
    pointer-events: none;
    background-color: #eaeaea;
    height: 55px !important;
    width: 40px !important;
    top: 0px !important; 
}

.rip { height: 20px;
            margin: 0 10px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
            background-size: 4px 2px;
            background-repeat: repeat-x;
            background-position: center;
            position: relative;
            box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
         }

.rip:before, .rip:after {
               content: "";
               position: absolute;
               width: 50px;
               height: 50px;
               top: 50%;
               transform: translate(-50%, -50%) rotate(45deg);
               border: 5px solid transparent;
               border-top-color: #fff;
               border-right-color: #fff;
               border-radius: 100%;
               pointer-events: none;
               background-color: #e0e0e0;
            }
.rip:before 
{
  left: -10px  !important;
}
 .rip:after {
               transform: translate(-50%, -50%) rotate(225deg);
               right: -60px !important;
            }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
